body {
  background: var(--teal50);
}
img {
  max-width: 100%;
}

a{
  text-decoration-thickness:2px;
  text-underline-offset:3px;
  transition:all 400ms ease-out;
}

a:hover, a:active{
  text-decoration-color:black;
}

svg{
  width:1em;
}

//UTILS
.page-container {
  margin: 0 auto;
  max-width: 900px;
}
